/* Fondo para el pasto*/
body {
    background-image: url('imagen/pasto_para_paginas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
  background-color: #f4fdf4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Para ver elementos transparentes*/

.card,
.container,
section {
  background-color: transparent !important;
}

/* El Encabezado */
header {
  background-color: #4CAF50;
}

.navbar-brand,
.nav-link {
  color: white !important;
  font-weight: bold;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #e0ffe0 !important;
}

/* El Carrusel */
.carousel-item img {
  height: 500px;
  object-fit: cover;
}

/* Títulos de tarjetas */
.card-title {
  color: #2e4d2e;
}

/* Sección de productos */
#productos h2 {
  color: #4CAF50;
  font-weight: bold;
}

/* Sección de contacto */
#contacto h2 {
  color: #4CAF50;
  font-weight: bold;
}

#contacto label {
  font-weight: bold;
}

/* Botón enviar */
.btn-success {
  background-color: #4CAF50;
  border: none;
}

.btn-success:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  background-color: #2e2e2e;
  color: white;
}